@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

:root {
    --background: #EEE2Dc;
    --foreground: #EDC7B7;
    --grayed: #BAB2B5;
    --text: #123C69;
    --strong: #AC3B61;
}

* {
    margin: 0rem;
    padding:0rem;
}

body {
    font-family: "Jost", Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text);
}